/* ベースのスタイル
------------------------------------------ */
html {
    font-size: calc(10 * 100vw / 375); /* 390はSPデザインカンプの幅 */   
    /* 変換サイト・ツールなどで、 390pxの幅での10pxを変換して2.56vwなのでそれを当ててもよい */
    /* font-size: 2.564102vw; */
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

@media (min-width:768px) {
    html {
         font-size: calc(10 * 100vw / 1200); /* 1200はPCカンプのコンテンツ幅 */
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

body {
	font-family: "Noto Serif JP", serif;
    color: #000000;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    list-style: none;
}


h2{
   text-align: center; 
}

/* 部品
------------------------------------------ */
/* flexbox */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ボタン */
/* 青 */
.button-blue-ghost {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 5rem;
    width: 29rem;
    height: 5.8rem;
      background-color: #46C4DB;
  border: 0.3rem solid #46C4DB;
    font-size: 1.8rem;
}

@media (min-width: 767.9px) {
.button-blue-ghost {
        width: 30rem;
        height: 5.8rem;
        font-size: 1.8rem;
}
}

.button-blue-ghost:hover {
  background-color: #ffffff;
  color: #46C4DB;
  opacity: 1;;
}

.button-blue {
    background-color: #46C4DB;
}

/* 緑 */
.button-green-ghost {
    margin-top: 1.7rem;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 5rem;
    width: 29rem;
    height: 5.8rem;
    font-size: 1.8rem;
      background-color: #5DD5AB;
  border: 0.3rem solid #5DD5AB;
}

@media (min-width: 767.9px) {
.button-green-ghost {
        width: 30rem;
        height: 5.8rem;
        font-size: 1.8rem;
    }
}

.button-green-ghost:hover {
  background-color: #ffffff;
  color: #5DD5AB;
  opacity: 1;
}

.button-green {
    background-color: #5DD5AB;
}

/* ヘッダー
------------------------------------------ */
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent; 
    width: 100%;
}


.header-container {
    padding-top: 2.3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Marcellus", serif;
    font-size: 2.4rem;
    letter-spacing: 0.17em;
}


@media (min-width: 767.9px) {
.header-container {
        padding-top: 3rem;
        font-size: 2.8rem;
        letter-spacing: 0.6rem;;
}
}

/* カバー
------------------------------------------ */
.cover{
    height: 55.7rem;
}

@media (min-width: 768px) {
.cover{
    height: 72rem;
}
}


.cover.background_image{
    background-image: url(/assets/images/cover/mainvisual_sp.jpg);
    background-size: cover;
    height: 44rem;
    background-position:center;
    padding-top: 1rem;
    position: relative;
}

@media (min-width: 768px) {
    .cover.background_image {
        width: 100%;
        height: 72rem;
        background-image: url(../images/cover/mainvisual_pc.jpg);
        background-size: cover;
            background-position:center;
    }
}

.cover-container{
    margin-top: 39.7rem;
    margin-left: 2.3rem;
}

@media (min-width: 768px) {
  .cover-container {
    margin-right: auto;
    max-width: none;
margin-top: 26rem;
max-width: 110rem;
margin-inline: auto;
  }
}

.cover-catch {
    margin-top:2.07rem;
}

.cover-catch-top{
    font-family: "Marcellus", serif;
    font-size:4.1rem;
    font-weight: 400 ;
    letter-spacing: 0.28em;
}

@media (min-width: 768px) {
.cover-catch-top {
    font-size: 5rem;
    padding-left: 3rem;
    line-height: 7rem;
}
}

.cover-catch-bottom {
    padding-top: 0.5rem;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.27em;
}

@media (min-width: 768px) {
.cover-catch-bottom {
    font-size: 2.5rem;
}
}

/* コンタクト
------------------------------------------ */
.contact {
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-top: 3.8rem;
    padding-bottom: 5rem;
}

@media (min-width: 768px) {
.contact {
    padding-top: 4.8rem;
}
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F0F4FF;
    padding-top: 1.8rem;
}

@media (min-width: 768px) {
.contact-container{
        display: flex;
        max-width: 100rem;
        margin-inline: auto;
        flex-direction: row;
        justify-content: space-around;
        height: 14.6rem;
}
}

.contact-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.8rem;
    color: #111111;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 0.06em;
}

@media (min-width: 768px) {
.contact-text{
        font-size: 2.4rem;
        text-align: left;
        padding-left: 1.8rem;
}
}

.contact_fee{
padding-top: 0.4rem;
    font-size: 1.4rem;
    font-weight: 400;
}

@media (min-width: 768px) {
.contact_fee{
    font-size: 1.6rem;
}
}

.free-button{
    margin-top: 2rem;
    margin-bottom: 3rem;
    gap: 3.2rem;
}

@media (min-width: 768px) {
.free-button{
        display: flex;
        align-items: center;
}
}

/* 紹介
------------------------------------------ */
.introduction{
    background-image: url(/assets/images/introduction/introduction_sp.jpg);
    background-size: cover;
    height: 66.5rem;
    background-position:center;
}

@media (min-width: 768px) {
    .introduction{
        display: flex;
        margin-top: 0rem;
        width: 100%;
        height: 55rem;
        background-image: url(/assets/images/introduction/introduction_pc.jpg);
        background-size: cover;
        background-position: center;
    }
}

.introduction-container{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;  
    padding-top: 4.5rem;
}

@media (min-width: 768px) {
.introduction-container{
    max-width: 120rem;
    margin-inline: auto;
    margin-left: 55vw;
    padding-top: 13rem;
}
}

.introduction-catch{
    width: 35.8rem;
    text-align: center;
}


@media (min-width: 768px) {
.introduction-catch{
    width: 46.7rem;
    text-align: left;
}
}

.introduction-catch-title{
    font-family: "EB Garamond", serif;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.018em;
}

@media (min-width: 768px) {
.introduction-catch-title{
    font-size: 3.8rem;
    letter-spacing: 0.02rem;
}
}

.introduction-catch-top{
    padding-top: 0.8rem;
    letter-spacing: -0.04em;
    font-size: 2.4rem;
    font-weight: bold;
    color: #fff;
}

@media (min-width: 768px) {
.introduction-catch-top{
    letter-spacing: 0.1rem;
}
}

.introduction-catch-bottom{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1.3rem;
    letter-spacing: -0.03em;
    font-size: 1.4rem;
    color: #fff;
    line-height: 3.16rem;
    text-align: left;
}

@media (min-width: 768px) {
    .introduction-catch-bottom{
        padding-right: 3rem;
        letter-spacing: -0.0rem;
        padding-top: 0.5rem;
        padding-left: 0rem;
}
}


/* Voice
------------------------------------------ */
.voice{
    margin-top: 4.8rem;
}

@media (min-width: 768px) {
.voice{
    margin-top: 8rem;
    max-width: 115.6rem;
        margin-inline: auto;
}
}
.voice-container{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.voice-section-title{
    font-size: 3rem;
    letter-spacing: 0.05em;
    font-family: "EB Garamond", serif;
}

@media (min-width: 768px) {
.voice-section-title{
    font-size: 4.5rem;
}
}

.voice-section-sub{
    font-size: 1.6rem;
    font-family: "Noto Serif JP", serif;
    padding-top: 0.3rem;
}

@media (min-width: 768px) {
.voice-section-sub{
    font-size: 2rem;
    padding-top: 1rem;
}
}

/* スライダー全体のレイアウト */
.voice_introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3.5rem;
}

/* スライドを並べるラッパー */
.voice-slick-item {
    display: flex;
    flex-direction: row; /* 横並びに */
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
}

.voice-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

/* 各スライド */
.voice-slide {
    flex: 0 0 100%;
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
  .voice-slide {
    flex: 0 0 33.3333%;
    width: 33.3333%;
  }
}

/* スライド内コンテンツ（カード） */
.voice_top {
    max-width: 28rem;
    background-color: #e6f8fa;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
    border-radius: 1rem;
    text-align: center;
}

@media (min-width: 768px) {
.voice_top {
    padding-top: 4.8rem;
}
}


.voice_top img {
    border-radius: 10rem;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
.voice_top img {
    width: 10rem;
    height: 10rem;
  }
}

/* 名前とテキスト */
.voice-name {
    font-size: 1.4rem;
    margin-top: 0.8rem;
    font-weight: bold;
}

.voice-text {
    padding-left: 0.7rem;
    letter-spacing: -0.04rem;
    width: 25rem;
    font-size: 1.4rem;
    line-height: 2.7rem;
    margin-top: 1.5rem;
    text-align: left;
}

@media (min-width: 768px) {
.voice-text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
}
}

/* 左右矢印ボタン */
.voice-left,
.voice-right {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
}

@media screen and (min-width: 768px) {
  .voice-left,
.voice-right {
        width: 4.8rem;
    height: 4.8rem;
  }
}


.voice-left img,
.voice-right img {
    width: 100%;
    height: auto;
}

/* インジケーター（ドット） */
.voice-indicators {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-top: 2.4rem;
  margin-bottom: 1rem;
  transform: none;         
  top: auto;
  right: auto;
  flex-direction: row;  
}

.voice-indicator-dot {
  width: 0.9rem;
  height: 0.9rem;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s;
  cursor: pointer;

}

.voice-indicator-dot.active {
  background-color: #00bcd4;
}




/* QA
------------------------------------------ */
.qa{
    background: linear-gradient(to right, #F4FFE8, #C6F0FE);
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding-top: 3.2rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-bottom: 1.4rem;
}

@media screen and (min-width: 768px) {
.qa{
    margin-top: 5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 0rem;
    padding-top: 4rem;
}
}

.qa-section-title{
    font-size: 3rem;
    font-family: "EB Garamond", serif;
    margin-bottom: 3.5rem;
}

@media screen and (min-width: 768px) {
.qa-section-title{
    font-size: 4.5rem;
}
}

.qa-section-sub{
    font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
.qa-section-sub{
    padding-top: 1rem;
    font-size: 2rem;
}
}

/* 全体コンテナ */
.accordion-QA {
     margin-bottom: 1.9rem;
  background-color: #FFFFFF;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
.accordion-QA {
    width: 60rem;
    margin-inline: auto;
}
}

/* Q部分 */
.accordion-title-Q {
    padding: 1.4rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    cursor: pointer;
}

@media screen and (min-width: 768px) {
.accordion-title-Q {
    margin-top: 1.5rem;
    padding-left: 2.5rem;
    padding-bottom: 2rem;
}
}
/* Qマークとテキスト */
.accordion-title {
  display: flex;
  gap: 1rem;
}


.Q-circle {
  font-weight: 500;
  font-family: "EB Garamond", serif;
  font-size: 1.6rem;
  line-height: 2rem;
    color: #444444;
}
@media screen and (min-width: 768px) {
.Q-circle {
    font-size: 1.8rem;
}
}

.Q-text {
  font-size: 1.5rem;
  font-weight: 500;
  flex: 1;
  color: #444444;
  letter-spacing: -0.03em;
    line-height: 1.7em;
}

@media screen and (min-width: 768px) {
.Q-text {
    letter-spacing: 0.02em;
}
}
/* A部分（コンテンツ） */
.accordion-content {
  display: none; 
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background: #fff;
  margin-bottom: 2.7rem;
}

@media screen and (min-width: 768px) {
.accordion-content {
  margin-bottom: 2.7rem;
}
}

.accordion-content.active {
  display: flex;
}

/* Aマークと本文 */
.A-circle {
    font-weight: 500;
    font-family: "EB Garamond", serif;
      color: #000000;
    font-size: 1.6rem;
    line-height: 2rem;
  flex-shrink: 0; 
  margin-top: 0.2rem;
}

.A-text {
    padding-left: 0.3rem;
    font-size: 1.5rem;
    color: #000000;
    line-height: 1.8;
    letter-spacing: -0.035em;
    flex: 1;
}

/* トグル矢印 */
.accordion-menu-btn{
    padding-top: 0.65rem;
    padding-right: 0.2rem;
}

@media screen and (min-width: 768px) {
.accordion-menu-btn{
    padding-right: 1rem;
}
}

.accordion-menu-btn img {
  width: 1.4rem;
  height: 1.4rem;
}

.accordion-menu-btn img {
  transition: transform 0.3s ease;
}

.accordion-QA.open .accordion-menu-btn img {
  transform: rotate(180deg);
}



/* フッター
------------------------------------------ */
.footer{
    background-color: #0071CE;
    height: 100%;
}

@media screen and (min-width: 768px) {
.footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
}


.footer-container{
    padding-top: 2.3rem;
    padding-bottom: 2rem;
}


@media screen and (min-width: 768px) {
.footer-container{
    max-width: 127.2rem;
    display: flex;
    margin-inline: auto;
    justify-content: space-around;
}
}

.footer-top{
    letter-spacing: 0.5rem;
    text-align:  center;
    font-size: 2.8rem;
    color: #FFFFFF;
    font-family: "Marcellus", serif;
}

@media screen and (min-width: 768px) {
.footer-top{
    font-size: 3.2rem;
}
}


.footer-bottom{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
.footer-bottom{
    margin-top: 0.8rem;
    margin-bottom: 0rem;
}

}


.footer-nav-list-group {
    display: flex;
    gap: 2.5rem;
            font-size: 1.2rem;
    justify-content: center;
    list-style: none;
}

@media screen and (min-width: 768px) {
.footer-nav-list-group{
    align-items: center;
            font-size: 1.4rem;
    padding-left: 10rem;
}
}

.footer-bottom a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

@media screen and (min-width: 768px) {
.footer-bottom a {
    font-size: 1.4rem;
}
}

.footer-bottom a:hover {
  text-decoration: none;
}



/* コピーライト */
.footer-copyright {
padding-top: 1rem;
    color: #FFFFFF;
    font-size: 1.1rem;
    text-align: center;
    display: block;
    letter-spacing: -0.02rem;
}

.top-arrow-area {
  position: relative;
}

.top-arrow-wrapper {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;
  display: none;
  transition: opacity 0.3s ease;
}


.top-arrow-wrapper.stopped {
  position: absolute;
  bottom: 100%; /* ← 親の bottom で止まる */
}


@media screen and (min-width: 768px) {
.top-arrow-wrapper {
    padding-right: 10vw;

}
}

.footer-netShopusi-img{
    width: 4rem;
}

